<!DOCTYPE html>
<html>
  <head>
    <title>MNIST Digits</title>
    <link rel="stylesheet" href="/static/nn.css"></link>
    <script src="/static/nn.js" async></script>
  </head>
  <body>
    <h1>MNIST Digit Recognition</h1>
    <div id="main">
        <div id="left">
          <canvas id="sheet" width="280" height="280"></canvas>
          <div id="controls">
              <button id="predict">Predict</button>
              <button id="clear">Clear</button>
              <select name="models" id="models"></select>
          </div>
        </div>
        <table id="history">
            <thead>
                <tr><th>Model</th><th>Input</th><th>Pred</th><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>NaN</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
  </body>
</html>